body {
    background: linear-gradient(to right, #ffd9a1 50%, #a6c9ff 50%);
    color: #333;
  }
  
  .container {
    width: 50%;
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .login {
    font-size: 50px;
    margin-top: 0;
    padding-left: 30px;
  }
  
  .image {
    max-width: 150px;
    height: auto;
    margin: 10px;
    margin-left: 500px;
  }
  
  .company-name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    padding: 0 20px;
    margin: 20px 0;
    font-family: cursive;
    background-image: linear-gradient(to left, #000000, #5a5a5a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .image-container {
    max-width: 300px;
    margin-left: 200px;
  }
  
  label {
    font-weight: bold;
  }
  
  .chatbot-container {
    
    margin: 0 auto;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 9999;
    text-align: center;
    
  }
  
  .chatbot-container h2 {
    margin-top: 0;
  }
  
  .chatbot-container textarea {
    width: 100%;
    resize: none;
    background-color: black;
    color: white;
  }
  
  
  .chatbot-container .button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .chatbot-container p {
    margin: 10px 0;
  }

  .chatbot-container .completed-sentence {
    margin: 10px 0;
    padding: 10px;
    display:block;
    width:150px;
    word-wrap:break-word;
    height:200px;
    display: table-cell;
    
    
  }
  
  